---
import Base from '../layout/Base.astro';
---

<Base title="Home">
<h1>Homepage</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima eligendi rem natus voluptates quaerat incidunt officia commodi dolorum, quos, possimus ullam nemo doloremque dolorem delectus qui. Provident molestiae nam ipsum nisi eveniet, tenetur dolores. Iure repudiandae aperiam delectus provident necessitatibus.</p>

</Base>